/* components/x-card/x-card.scss */

.x-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30rpx 32rpx;
  border-radius: 18rpx;
  background-color: var(--td-cell-bg-color, var(--td-bg-color-container, var(--td-font-white-1, #ffffff)));
  padding: 40rpx 40rpx;
}

.x-text {
  margin: 3rpx;
  font-size: 30rpx;
}

.x-title {
  font-size: 50rpx;
  font-weight: bolder;
}

.x-subtitle {
}

.x-t-grey { 
  color: var(--td-cell-description-color, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))); 
}