page {
  background: #f6f6f6;
  padding-bottom: 50rpx;
  --td-brand-color-focus: #f1928e;
  --td-brand-color: #ea5952;
  --td-brand-color-active: #cd5c5c;
  --td-brand-color-hover: #ee7c77;
}
// 卡片白色背景
.x-view-bg {
  background-color: var(
    --td-bg-color-container,
    var(--td-font-white-1, #ffffff)
  );

  &:active {
    background-color: var(
      --td-bg-color-secondarycontainer,
      var(--td-gray-color-1, #f3f3f3)
    );
  }
}
// 圆角
.x-border-r {
  border-radius: var(--td-radius-large, 18rpx);
}

// 中度左右间距
.mx-distance-m {
  margin-left: 32rpx;
  margin-right: 32rpx;
}

// 小号上下间距
.my-distance-es {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}

.my-distance-s {
  margin-top: 14rpx;
  margin-bottom: 14rpx;
}

// 中度上下间距
.my-distance-m {
  margin-top: 20rpx;
  margin-bottom: 20rpx;
}

// 大号上下间距
.my-distance-l {
  margin-top: 32rpx;
  margin-bottom: 32rpx;
}

// 一般文本字体大小
.x-text-s {
  font-size: 22rpx;
}

.x-text-m {
  font-size: 28rpx;
}

// 标题
.x-title-s {
  font-size: 32rpx;
  font-weight: bold;
}

// 字体
.x-title-m {
  font-size: 36rpx;
  font-weight: bold;
}

// 灰色字
.x-color-gray {
  color: var(--td-font-gray-2, rgba(0, 0, 0, 0.6));
}

// white-space: pre-line
.x-w-preline {
  white-space: pre-line;
}

// 文本居中
.x-text-center {
  text-align: center;
}

.safe_bottom_view {
  padding-bottom: constant(safe-area-inset-bottom);
  /*兼容 IOS<11.2*/
  padding-bottom: env(safe-area-inset-bottom);
  /*兼容 IOS>11.2*/
}
