/* pages/fav/index.wxss */

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120rpx;
  height: 100%;
  color: white;
}

.delete-btn {
  background-color: #e34d59;
}

.clear-btn {
  background-color: #ed7b2f;
}

.tips {
  font-size: 28rpx;
  color: var(--td-cell-description-color, var(--td-font-gray-2, rgba(0, 0, 0, 0.6))); 
  text-align: center;
  flex-direction: column;
  margin-top: 50rpx;

  &-item {
    margin: 10rpx;
  }
}

.empty-view {
  padding: 200rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}